.container {
  width: 80%;
  border: 1 solid black;
  padding: 15px 20px;
  border: 1 solid black;
  margin: 50px auto;
  border: 1px solid black;
  box-shadow: 12px 12px 1px 1px rgba(0, 0, 0, 0.715);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding-left: 0px;
  list-style: none;
  width: 90%;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 10px 30px;
  background-color: white;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  align-self: flex-end;
}



li {
  padding: 10px;
  background-color: lavender;
  margin: 10px;
  border: 1px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}

@media only screen and (max-width: 430px) {
  .container{
    box-shadow: 4px 4px 1px 1px rgb(0 0 0 / 72%);
  }
}